.roproquickjoin .quick-game-search-tooltip {
	display: none;
}

.roproquickjoin:hover .quick-game-search-tooltip {
	display: block!important;
}

.quick-game-search {
	height:0px!important;
	overflow:hidden;
	transition: height 0.2s;
}

.quick-game-search.loaded {
	height: 58px!important;
	transition: height 0.2s;
}

.quick-item-search {
	height:0px!important;
	overflow:hidden;
	transition: height 0.2s;
}

.quick-item-search.loaded {
	height: 58px!important;
	transition: height 0.2s;
}